In [6]:
# Single word
str = 'hello'
str

'hello'

In [7]:
# Entire phrase
'This is also a string'

'This is also a string'

In [8]:
# we can also use double quotes
"String Build with double quotes"

'String Build with double quotes'

In [9]:
"Now I'm ready to use the single quotes insude a sting!"

"Now I'm ready to use the single quotes insude a sting!"

In [10]:
# We can simply declare a string
'Hello World'

'Hello World'

In [11]:
# note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

In [12]:
print('Hello World 1')
'Hello World 2'

Hello World 1

'Hello World 2'

In [13]:
print ('Hello World 1')
print ('Hello World 2')
print ('Use \n to print a new line')
print ('\n')
print ('see what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


see what I mean?

In [14]:
len('Hello World')

11

In [15]:
# Assign s as a string 
s = 'Hello World'

In [16]:
# Check
s

'Hello World'

In [17]:
# Print the object
print(s)

Hello World

In [18]:
# Show first element (in this case a letter)
s[0]

'H'

In [19]:
s[1]

'e'

In [20]:
s[2]

'l'

In [21]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [22]:
# note that there is no change to original s
s

'Hello World'

In [23]:
# Grab everything up to the third index
s[:3]

'Hel'

In [24]:
#Everything
s[:]

'Hello World'

In [25]:
s = 'Hello World'

In [26]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [27]:
#Grab everything but the last letter
s[:-1]

'Hello Worl'

In [28]:
#Grab everything,butgo in step size of 1
s[::1]

'Hello World'

In [29]:
# grab everything,but go in step size of 2
s[::2]

'HloWrd'

In [30]:
# We can this to print a string backwards
s[::-1]

'dlroW olleH'

In [31]:
s = 'Hello World'

In [32]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [33]:
#we can reassign s completely though!
s = s + ' Concatenate me!'

In [34]:
print(s)

Hello World Concatenate me!

In [35]:
s

'Hello World Concatenate me!'

In [36]:
letter = 'z'

In [37]:
letter*10

'zzzzzzzzzz'

In [38]:
s = 'Hello World concatenate me!'

In [39]:
#Upper case a string 
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [40]:
#Lower case a string
s.lower()

'hello world concatenate me!'

In [41]:
#Split a string by blanck space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [42]:
#Split string by a specific element (doesn't include the element that was split on)
s.split('o')

['Hell', ' W', 'rld c', 'ncatenate me!']

In [43]:
'Insert  another string with curly brackets:{}'.format({'The inserted string'})

"Insert  another string with curly brackets:{'The inserted string'}"

In [44]:
s = 'Hello World concatenate me!'

In [45]:
print(s)
s.count('o')

Hello World concatenate me!

3

In [46]:
s.find('o')

4

In [47]:
s.center(60,'z')

'zzzzzzzzzzzzzzzzHello World concatenate me!zzzzzzzzzzzzzzzzz'

In [48]:
'hello\thi'.expandtabs()

'hello   hi'

In [49]:
s='hello'

In [50]:
s.isalnum()

True

In [51]:
s.isalpha()

True

In [52]:
s.islower()

True

In [53]:
s.isspace()

False

In [54]:
s = 'hello'

In [55]:
s.istitle()

False

In [56]:
s.isupper()

False

In [57]:
s.endswith('o')

True

In [58]:
s.split('e')

['h', 'llo']

In [59]:
s.partition('e')

('h', 'e', 'llo')

In [60]:
s

'hello'

In [61]:
#Assign a list to an variable named my_list
my_list = [1, 2, 3]

In [62]:
print(my_list)

[1, 2, 3]

In [63]:
my_list = ['A string' ,23,100.232,'o']
my_list

['A string', 23, 100.232, 'o']

In [64]:
len(my_list)

4

In [65]:
my_list =['one','two','three',4,5]

In [66]:
#grab element at index 0
my_list[0]

'one'

In [67]:
#grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [68]:
#Grab everything up to index 3
my_list[:3]

['one', 'two', 'three']

In [69]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [70]:
my_list

['one', 'two', 'three', 4, 5]

In [71]:
#Reassign
my_list = my_list +['add new item permanently']

In [72]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [73]:
#Make the list double
my_list *2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [74]:
#Again doubling not permanent 
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [75]:
#createa new list
l =[1,2,3]

In [76]:
#append
l.append('appened me!')

In [77]:
#Show
l

[1, 2, 3, 'appened me!']

In [78]:
#pop off the 0 indexed item
l.pop(0)

1

In [79]:
#show
l

[2, 3, 'appened me!']

In [80]:
#Assign the popped element,remember default popped index is -1
popped_item= [1,2,3,'append me!']

In [81]:
popped_item =l.pop()

In [82]:
popped_item

'appened me!'

In [83]:
#show remaining list
l

[2, 3]

In [84]:
new_list = ['a','e','x','b','c']

In [85]:
#show
new_list

['a', 'e', 'x', 'b', 'c']

In [86]:
#Use reverse to reverse order(this is permanent)
new_list.reverse()

In [87]:
new_list

['c', 'b', 'x', 'e', 'a']

In [88]:
#Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

#Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [89]:
#show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [90]:
#Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [91]:
#Grab first item of the first item in the matrix object
matrix[1][1]

5

In [92]:
#Build a list comprohension by deconstructing a for loop within a []
first_col = [row[2] for row in matrix]
first_col

[3, 6, 9]

In [93]:
l = [1,2,3]

In [94]:
l.append(4)

In [95]:
l

[1, 2, 3, 4]

In [96]:
l = [1,2,3]

In [97]:
l.count(10)

0

In [98]:
l.count(2)

1

In [99]:
x = [1,2,3]
x.append([4,5])
print(x)

[1, 2, 3, [4, 5]]

In [100]:
x =[1,2,3]
x.extend([4,5])
print(x)

[1, 2, 3, 4, 5]

In [101]:
print(l)
l.index(2)

[1, 2, 3]

1

In [102]:
l

[1, 2, 3]

In [103]:
# Place a letter at the index 2
l.insert(2,'inserted')

In [104]:
l

[1, 2, 'inserted', 3]

In [105]:
ele = l.pop()

In [106]:
l

[1, 2, 'inserted']

In [107]:
ele

3

In [108]:
l

[1, 2, 'inserted']

In [109]:
l.remove('inserted')

In [110]:
l

[1, 2]

In [111]:
l = [1,2,3,4,3]

In [112]:
l.remove(3)

In [113]:
l

[1, 2, 4, 3]

In [114]:
l.reverse()

In [115]:
l

[3, 4, 2, 1]

In [116]:
l

[3, 4, 2, 1]

In [117]:
l.sort()

In [118]:
l

[1, 2, 3, 4]